<h1 align="center">Here are all article listings!</h1>
<div align="center">
    <%= will_paginate %>
</div>
<%= render 'article', obj: @articles %>

<div align="center">
    <%= will_paginate %>
</div>

<p align="center"><%=@articles.length %> results</p>