
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    color: white;
    float: left;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: orange;
}

.jumbotron {
    background-image: url("http://image.shutterstock.com/display_pic_with_logo/708598/268839575/stock-vector-vector-sushi-cartoon-character-illustration-268839575.jpg");
    background-size: cover;
    height: 50%;
}

.jumbotron h1 {
    color: #fff;
    text-align: center;
}

.btn-xlarge {
    font-size: 1.7em;
    background-color: black;
}

.btn-xlarge:hover {
    background-color: orange;
    border: none;
}

footer li {
    float: left;
    padding-right: 3%;
    list-style-type: none;
}

footer {
    border-top: 2px black solid;
    padding-bottom: 5%;
}
.article-meta-details {
    border-top: 1px solid black;
    margintop: 15px;
}

.article-actions {
    border-top: 1px solid black;
    padding-top: 5px;
}

.description {
    margin-top: 0;
}

.article-title {
    font-weight: bold;
    font-size: 1.5em;
}

.article-body {
    border-top: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}
.listing {
    list-style:none;
    padding-left: 0;
}