<div class="container">
    <footer class="footer text-center">
        <nav>
            <ul class="text-center">
                <li class="text-center">Rob Carroll Prod &copy;</li>
                <li><%= link_to 'About', about_path %></li>
                <li><%= link_to 'List Articles', articles_path %></li>
            </ul>
        </nav>
    </footer>
</div>